$spacer: 15px;

.modal-ucd-warning {
  .modal-body {
    padding: 0 $spacer;
  }

  .checkbox-label {
    display: flex;
    justify-content: flex-end;
    margin: $spacer 0;
  }

  .action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $spacer 0;
  }
}
